body
{
    background-image: url(img/background.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /*Establish the font on the page*/
}

.aboutme
{   
    /*Makes a square behind the text like a container*/
    display:flex; 
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(85, 133, 181, 0.5);
    
    width: max-content;
    margin: 30px auto;
    border-radius: 50px;
}


#ytvideos
{   
    /*Makes a square behind the elements like a container*/
    display:flex;
    align-items: center;
    justify-content: center;
    
    text-align: center;

    background-color: rgb(85, 133, 181, 0.5);


    width: max-content;
    margin:     0 auto;
    border-radius: 50px;
}

#header
{   
    color: white;
    display:flex;
    align-items: center;
    justify-content: center;
    
    text-align: center;
}



.navbar
{

    display:grid;
    grid-template-columns: auto auto auto;
    
    grid-column-gap: 50px;
    padding: 10px;
    background:  rgb(83, 168, 182, 0.5) ;
    align-items: center;
    justify-content: center;
    text-align: center;

    width: max-content;
    margin: 0 auto;

    border-radius: 50px;

    color: black;

}



.projects
{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    text-align: center;

    background-color: rgb(85, 133, 181, 0.5);

    width: max-content;
    margin:     0 auto;
    border-radius: 50px; 
    margin: 30px auto;
}
.element
{
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 20px;
}
.element img
{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
}
.element div
{
    align-items: left;
}
.navbar div
{

    border-radius: 50px;
  background-color: rgb(121, 194, 208, 0.5); 
  padding: 10px;
  font-size: 20px;
  text-align: center;
  
}

a {
  color: inherit; 
  text-decoration: none; 
}

iframe
{border-radius: 50px;}

